.cast_wrapper {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
}

.cast_lists {
  width: 200px;
  height: 100%;
  margin-left: 20px;
  display: inline-block;
}

.cast_wrapper::-webkit-scrollbar-track
{
	background-color: #f5f5f56b;
}

.cast_wrapper::-webkit-scrollbar
{
	height: 8px;
	background-color: #0000006b;
}

.cast_wrapper::-webkit-scrollbar-thumb
{
	background-color: #4e4c4cfa;
}

